Flask==3.0.3
flask-cors==<latest_version>   # Include if you need to handle CORS
requests==2.32.3                # For making HTTP requests
pandas==2.2.2                   # Data manipulation and analysis
numpy==1.26.4                   # Numerical operations
scikit-learn==1.5.1             # Machine learning tasks
nltk==3.9.1                     # Natural language processing
